@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

@layer components {
  .heading1 {
    @apply text-2xl font-fine;
  }
  .icon_trans-white:hover {
    @apply cursor-pointer transition duration-300 hover:text-white ease-in-out;
  }
  .icon_trans-op:hover {
    @apply cursor-pointer transition-opacity duration-150 opacity-40;
  }
  .icon_trans-op:active {
    @apply transition-opacity duration-150 opacity-20;
  }

  .text-title {
    @apply lg:text-2xl;
  }
  .text-paragraph {
  }
  .page__background {
    @apply z-0  bg-clouds bg-lime-700/20 bg-blend-overlay   bg-no-repeat bg-cover bg-fixed;
  }

  .section-heading {
    @apply text-2xl font-extrabold absolute  px-[40px] text-center bg-black text-white top-[50px] left-[50%] translate-x-[-50%]  mix-blend-multiply text-[70px];
  }
}

body {
  font-family: "Manrope", sans-serif;
  color: #11101d;
}

* {
  scroll-behavior: smooth;
}

.section__padding {
  padding: 4rem 6rem;
}

.bg-gradient {
  /* ff 3.6+ */
  background: -moz-radial-gradient(ellipse at 0% 0%, #e5989b 18%, #ffffff 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(ellipse at 0% 0%, #e5989b 18%, #ffffff 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(ellipse at 0% 0%, #e5989b 18%, #ffffff 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(ellipse at 0% 0%, #e5989b 18%, #ffffff 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(ellipse at 0% 0%, #e5989b 18%, #ffffff 100%);
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
